$color-primary: #19b34d;
$color-secondary: #022c22;

$color-bg: #112117;
$color-bg-secondary: #646784;

$text-color-primary: #ffffff;
$text-color-secondary: #10b98199;
$text-font: "Inter", sans-serif;
